.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
ul li {
  margin: 0 10px;
}
ul li a {
  color: rgb(170, 170, 170);
}
ul li a:hover {
  color: white;
}
.banner_content {
  background-color: #F8F9FA;
  padding: 80px 20px;
  border-radius: 10px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
.banner_content button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}
.item_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item_content .item {
  background-color: #F8F9FA;
  position: relative;
  padding: 20px 30px;
  border-radius: 5px;
}
.center {
  display: flex;
  justify-content: center;
}
.icon {
  background-color: #0D6EFD;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  position: absolute;
  top: -30px;
  left: 160px;
}
i {
  color: white;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 23px;
  font-weight: bold;
}
p {
  text-align: center;
}

